body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(217, 218, 233);
}

.esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direita{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.direita .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.direita .card .input input{
    width: 450px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    border: none;
}
.card .input input:hover{
    background: rgb(224, 215, 215);
    transition: all 300ms ease;
    border: 2px solid green;
}

.card button{
    background-color: rgb(54, 222, 71);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 15px 160px;
    margin-top: 25px;
    font-weight: bold;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
}

.card button:hover{
    background: yellow;
    border: 1px solid rgb(163, 244, 13) ;
    color: rgb(177, 21, 21);
}
.card .chamada{
    display: flex;
    margin-top: 30px;
}

.card .redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    width: 20px;
}
   